.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;

  height: 60vh;
  width: 50vw;
}

.container input {
  margin: 20px 0;
  padding: 15px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  border: 2px solid grey;
  border-radius: 25px;
}

.container label,
p {
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  color: white;
}

.container p {
  color: red;
  font-size: 22px;
}
