* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d1117;
}
.App {
  font-family: sans-serif;
  text-align: center;

  margin: 20vh auto;
  border: 5px solid yellow;
  border-radius: 50px;
  width: 50vw;
}
